::-webkit-scrollbar {
    display: none;
}

.createdUser {
    transition: opacity .5s ease;
}

.avatar,
.avatarPreview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit {
    transition: opacity .2s ease;
    cursor: pointer;
    opacity: 0;
}

.avatarPreview:hover .edit {
    opacity: .4;
}

.avatarPreview,
#avatar {
    width: 15em;
    height: 15em;
}

#avatar {
    opacity: 0;
}